<nav>
    <img src="https://fontmeme.com/permalink/211025/239e80ca1527c04df6c1033b0108338d.png" alt="fuente-get-schwifty" >
    <ul>
        <li>
            <a [routerLink]="['']"><img src="https://img.icons8.com/material/40/26e07f/home-page.png"/></a>
        </li>
        <li>
            <a [routerLink]="['characters']"><img src="https://img.icons8.com/material/40/26e07f/person-male.png"/></a>
        </li>
        <li>
            <a [routerLink]="['locations']"><img src="https://img.icons8.com/material/40/26e07f/globe--v2.png"/></a>
        </li>
        <li>
            <a [routerLink]="['episodes']" ><img src="https://img.icons8.com/material/40/26e07f/retro-tv.png"/></a>
        </li>
    </ul>
</nav>