<div *ngIf="episodesList">
    <!-- <h3>Lista de Episodios </h3> -->
    <ul>
      <li *ngFor="let episode of episodesList">
        <h4> {{ episode.name }}<br>{{episode.episode}}</h4>
        <a [routerLink]="[episode.id]">
          <img [src]="episode.image" [alt]="episode.name">
        </a>
      </li>
  </ul>
  <div class="buttons">
    <button class="prev"*ngIf="prev"(click)="moreEpisodes(prev)"><img src="https://img.icons8.com/material/40/26e07f/arrow-pointing-left--v2.png" ></button>
    <button class="next"*ngIf="next" (click)="moreEpisodes(next)"><img src="https://img.icons8.com/material/40/26e07f/arrow.png" ></button>
  </div>
</div>
