div{

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        li{
            display: flex;
            margin :5px;
            flex-direction: column;
            h4{
                font-size: 20px;
                text-align: center;
            }
            a{
                text-align: center;
                img{
                    max-width: 200px;
                }
            }
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        .prev{
            border-style: none;
            background: none;
            &:hover{
                cursor:grab;
            }
        }
        .next{
            border-style: none;
            background: none;
            &:hover{
                cursor:grab;
            }
        }
    }
}